#introduction {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}

.introduction__container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

.introduction__picture {
  background-image: url('/assets/images/avatar-metaverse.png');
  background-color: var(--color-purple);
  background-size: cover;
  background-position: center;
  border-radius: 40% 15% 40% 15%;
  height: 240px; width: 240px;
  transition: all ease-in-out .6s;
}

.introduction__picture:hover {
  background-color: var(--color-yellow);
  border-radius: 50%;
}

.introduction__content {
  color: var(--color-white);
  padding: 14px;
  width: 440px;
}

.introduction__content___title {
  font-size:32px;
  margin-bottom: 10px;
}

.introduction__content___paragraph {
  line-height: 1em;
}