#introduction {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introduction__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 90%;
}

.introduction__picture {
  background-image: url('/assets/images/avatar-metaverse.png');
  background-color: var(--color-purple);
  background-size: cover;
  background-position: center;
  border-radius: 40% 15% 40% 15%;
  height: 240px; width: 240px;
  transition: all ease-in-out .6s;
}

.introduction__picture:hover {
  background-color: #eead2d;
  border-radius: 50%;
}

.introduction__content {

  color: #fff;
  padding: 20px;
  width: 400px;
}

.introduction__content___title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
}

.introduction__content___paragraph {
  line-height: 22px;
}