.navigation__menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navigation__menu___item {
  transition: all ease-in-out .3s;
}

.navigation__menu___item:hover {
  text-transform: uppercase;
}

.navigation__menu__link {
  color: var(--color-white);
  transition: all ease-in-out .2s;
  padding: 4px;
}

.navigation__menu__link:hover {
  font-weight: bold;
  color: var(--color-purple);
}